table, th, td {
    border-collapse: collapse;
    border: 1px solid rgba(94, 0, 118, 0.266);
    
    
}

th, td {
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: #4000522d;
}

input[type=text] {
  font-size: medium;
  width: 500px;
  padding: 7px 10px;
	color: #ffffff;
  background-color: #40005200;
  border-color: transparent;
  border-bottom: 1px solid #4000522d;
}
input[type=text]:focus{
  outline: none;
  border-bottom-color: rgb(255, 255, 255);
}
input[type=datetime-local] {
  color-scheme: dark;
  font-size: medium;
  padding: 7px 10px;
	color: #ffffff;
  background-color: #ffffff00;
  border-radius: 15px;
  border: 1px solid #400052c7;
}


#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0, 0, 0, 0.282);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:350ms;
	animation-timing-function: ease;
}

#modal > .modal-content {
	
	margin-top:10vh;
	width:80%;
	max-width:600px;
	border:solid 1px #400052c7;
	border-radius:15px;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png"), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:350ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 
